body > div {
    display: flex;
    flex-direction: column;
}

.header {
    border-bottom: thick double black;
    padding: 20px;
    margin: 5px;
    background-color: beige;
}

main {
    display: flex;
    flex-wrap: wrap;
}

main > section {
    flex: 1 0 250px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

label {
    display:block;
}

main > section:first-child {
    border-right: thick double  black;
    background-color: beige;
}

#form div {
    padding: 5px;
}

#form textarea {
    width: 150px;
}

#form input {
    width: 150px;
}
article {
    justify-content: center;
    align-items: center;
}

footer {
    padding: 10px;
    margin: 0;
    border-top: thick double black;
    
}
